

.custom-card {
  max-width:672px;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 32px 56px 32px;
}
.custom-card i {
  font-size: 48px;
  color: #64748b;
}

.custom-warning-titles {
  gap: 2px;
}

.card-title {
  color: #1a2856;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.card-subtitle {
  color:  #64748b;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}


.list-certificates{
  max-width:672px;
}
