.custom-card {
  max-width: 672px;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  padding: 12px;
}

.card-title {
  color: #1a2856;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
}

.atividade group {
  margin-bottom: 32px;
}

label {
  color: #1a2856;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.item-list {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list hr {
  background: #e2e8f0;
  margin: 12px 0;
}
.remove-btn i {
  padding: 5.75px;
  color: #e95f5f;
  font-size: 12.5px;
  background-color: #fff;
  cursor: pointer;
}

.remove-btn i:hover {
  background-color: #e2e8f0;
  border-radius: 4px;
}

.custom-input {
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 8px 12px;
}

.custom-input:focus {
  border-radius: 6px;
  border: 1px solid #3b5ac2;
  background: #fff;
  box-shadow: none;
}

.custom-input-group{
  margin-bottom:20px !important;
}

custom-input-group:has(input:focus) label {
  color: #3b5ac2;
}

.error-message {
  gap:4px;
  color: #d71d1d;
}

.error-message{
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top:8px;
}
.custom-input-group:has(.error-message) > label {
  color: #d71d1d;
}
