<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado align-items-center w-100">
    <div routerLink="/" class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button phClass="ph ph-download-simple" textoBotao="Download"></app-secondary-button>
  </div>
  @if(certificado){
    <div class="certificado  d-flex justify-content-center align-items-center">
      <img class="icone-medalha" src="certificate/Certificate_Ribon.svg" alt="ícone de mendalha">
      <div class="conteudo-certificado">
        <img class="img-assinatura" src="certificate/Certificate_signature.svg" alt="assinatura">
        <div class="info-certificado d-flex flex-column align-items-center">
          <div class="titulo-subtitulo-certificado">
            <h1>CERTIFICADO DE CONCLUSÃO</h1>
            <p>Este certificado comprova que</p>
          </div>
          <p class="nome-aluno">{{certificado.nome}}</p>
          <div>
            <p class="lista-atividade-título">Concluiu com sucesso as seguintes atividades:</p>
            <p class="lista-atividade">{{certificado.atividades.join(', ')}}</p>
          </div>
        </div>
         <p class="data-emissao">Emitido em {{certificado.dataEmissao}}</p>
      </div>
    </div>
  }
</div>
