.custom-title {
  color: #121621;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.custom-subtitle {
  color: #64748b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom:4px;
}

.content-titles {
  height: 60px;
  gap: 4px;
  margin-bottom: 32px;
}
